
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>{% trans 'Latest' %} {% trans 'News' %}</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                <li>{% trans 'News' %}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- News Section -->
    <section class="news-section style-two">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- News Block -->
                {% for i in blog %}
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% url 'blog_detail' blog_id=i.id %}"><img src="{{ i.photo.url }}" alt=""></a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="{% url 'blog_detail' blog_id=i.id %}">{{ i.title }}</a></h3>
                            <span class="date">Post: {{ i.day }}</span>
                            <div class="text">{{ i.summary }}</div>
                            <div class="link-box"><a href="{% url 'blog_detail' blog_id=i.id %}">{% trans 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}       
            </div>
            {% if posts.has_other_pages %}
              <nav>
                <ul class="pagination justify-content-center">
                  {% if posts.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% url 'blog' %}?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                  {% endif %}
          
                  {% for p in posts.paginator.page_range %}
                    {% if posts.number == p %}
                      <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="{% url 'blog' %}?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                  {% endfor %}
          
                  {% if posts.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="{% url 'blog' %}?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            {% endif %}

            <!--Post Share Options-->
            <!-- {% if posts.has_other_pages %}
              <nav>
                <ul class="pagination justify-content-center">
                  {% if posts.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% url 'blog' %}?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                  {% endif %}
          
                  {% for p in posts.paginator.page_range %}
                    {% if posts.number == p %}
                      <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="{% url 'blog' %}?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                  {% endfor %}
          
                  {% if posts.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="{% url 'blog' %}?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            {% endif %} -->
        </div>
    </section>
    <!-- News Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>{% trans 'Provide Solutions For the Realiable Growth' %}</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="{% url 'contact' %}" class="theme-btn btn-style-one">{% trans 'Get A Quotes' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->
{% endblock content %}