
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>Cases Detail</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Cases Detail</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Case Details-->
    <section class="case-detail-section">
        <div class="case-detail">
            <div class="auto-container">
                <div class="carousel-box">
                    <!--Carousel-->
                     <ul class="single-item-carousel owl-theme owl-carousel">
                        <li class="slide-item"><figure class="image"><a href="{% static 'images/resource/case-detail.jpg' %}" class="lightbox-image"><img src="images/resource/case-detail.jpg" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="{% static 'images/resource/case-detail.jpg' %}" class="lightbox-image"><img src="images/resource/case-detail.jpg" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="{% static 'images/resource/case-detail.jpg' %}" class="lightbox-image"><img src="images/resource/case-detail.jpg" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="{% static 'images/resource/case-detail.jpg' %}" class="lightbox-image"><img src="images/resource/case-detail.jpg" alt=""></a></figure></li>
                    </ul>
                </div>
                
                <!--Title Style One-->
                <div class="content-box">
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner">
                                <h2>Requirements</h2>
                                <div class="text">
                                    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                                    <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!--Info Column-->
                        <div class="info-column col-lg-5 col-md-12 col-sm-12">
                            <div class="inner">
                                <h4>Case Study Details</h4>
                                <ul class="info-list">
                                    <li><strong>Client Name:</strong> Business Point</li>
                                    <li><strong>Location:</strong>    Willington Park</li>
                                    <li><strong>Project Value:</strong> $26,500</li>
                                    <li><strong>Year Completed:</strong> 2017</li>
                                    <li><strong>Project Under:</strong> Financial Plan</li>
                                    <li><strong>Advisor:</strong> Akamal Moro</li>
                                </ul>                    
                            </div>
                        </div>
                    </div>

                    <h3>Strategy and Solution</h3>
                    <div class="text">
                        <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line. Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive excellence convergence on cross-platform integration.</p>
                        <h3>Result and Client Benefits</h3>
                        <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivating one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer report service for state of the art customer service. Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
                    </div>

                    <div class="two-column">
                        <div class="row clearfix">
                            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="image"><a href="{% static 'images/resource/image-7.jpg' %}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images/resource/image-7.jpg' %}" alt=""></a></div>
                                </div>
                            </div>

                            <div class="text-column col-lg-7 col-md-12 col-sm-12">
                                <div class="inner">
                                    <h3>34% Value Reduction Validation</h3>
                                    <p> Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p> 
                                    <ul class="list-stlyle-one">
                                        <li>Professionally cultivate one-to-one customer service with robust ideas.</li>
                                        <li>Podcasting operational change management inside of workflows.</li>
                                    </ul>
                                    <h3>Savings of US $ 52,000</h3>
                                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
                                    <a href="case-detail.html#" class="link">Download PDF <i class="la la-file-pdf-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Case Details-->

     <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>{% trans 'Provide Solutions For the Realiable Growth' %}</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">{% trans 'Get A Quotes' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

{% endblock content %}