{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>contact us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>contact us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Form Section -->
    <section class="contact-form-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="sec-title text-center">
                    <span class="title">Write a Message</span>
                    <h2>Have Any Questions?</h2>
                </div>
                <div class="contact-form-two">
                    <form method="post" action="contact.html" id="contact-form" novalidate="novalidate">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="text" name="username" placeholder="Your Name" required="">
                            </div>
                            
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="email" name="email" placeholder="Your Email" required="">
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <textarea name="message" placeholder="Your Massage"></textarea>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group text-center">
                                <button class="theme-btn btn-style-three" type="submit" name="Submit">Send Massage</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Form Section -->

    <!-- Contact Info Section -->
    <section class="contact-info-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="contact-info-box col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-mail"></span></div>
                        <ul>
                            <li><a href="mailto:{{contac.email}}">{{contac.email}}</a></li>
                            <li>{{contac.phone_number}}</li>
                        </ul>
                    </div>
                </div>

                <div class="contact-info-box col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-watch-2"></span></div>
                        <ul>
                            <li>{{contac.start_work}} - {{contac.finish_work}} {{contac.work_created_at}} {% trans 'to' %} {{contac.work_updated_at}}</li>
                            <li><strong>{% trans 'Sunday Closed' %}</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="contact-info-box col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-pin-1"></span></div>
                        <ul>
                            <li><strong>{% trans 'Address' %}</strong></li>
                            <li>{{contac.address}}</li>
                        </ul>
                    </div>
                </div>

                <div class="contact-info-box col-lg-3 col-md-6 col-sm-12">
                    <ul class="social-links">
                        <li><strong>Follow Us:</strong></li>
                        <li>
                            <ul class="social-icon-one">
                                <li><a href="https://{{contac.facebook_link}}"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="https://{{contac.instagram_link}}"><i class="la la-instagram"></i></a></li>
                                <li><a href="https://{{contac.linkedin_link}}"><i class="la la-linkedin"></i></a></li>
                                <li><a href="https://{{contac.youtube_link}}"><i class="la la-youtube"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Info Section -->

    <!-- Contact Map Section -->
    <section class="contact-map-section">
        <!-- Map Column -->
        <div class="map-column">
            <!--Map Outer-->
            <div class="map-outer">
                <div class="map-canvas"
                    data-zoom="15"
                    data-lat="41.34893854819295" 
                    data-lng="69.20797786763609"
                    data-type="roadmap"
                    data-hue="#ffc400"
                    data-title="Ministry of Higher Education, Science and Innovations"
                    data-icon-path="{% static 'images/icons/map-marker-2.png' %}"
                    data-content="Tashkent, Uzbekistan<br><a href='mailto:sanjarbekusmonov13@gmail.com'>sanjarbekusmonov13@gmail.com</a>">
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Map Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>{% trans 'Provide Solutions For the Realiable Growth' %}</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">{% trans 'Get A Quotes' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

{% endblock content %}