
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>Price List</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>Price List</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Pricing Section -->
    <section class="pricing-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Price List</span>
                <h2>Our Best Package</h2>
            </div>
            <div class="row clearfix">
                <!--Pricing Column-->
                <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="plan-title">Basic</div>
                        <div class="lower-content">
                            <div class="price-header"><span class="price">45<sup>$</sup></span><sub>/ Mon</sub></div>
                            <div class="duration">With 12 Months Annual Contract</div>
                            <ul class="spec-list">
                                <li>Business Analyzing</li>
                                <li>Operational Excellence</li>
                                <li>Knowledge Management</li>
                                <li>Generation Accounting</li>
                                <li>Digital Transformation</li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-style-four">Configure</a>
                        </div>
                    </div>
                </div>
                
                <!--Pricing Column-->
                <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="plan-title">Standard</div>
                        <div class="lower-content">
                            <div class="price-header"><span class="price">69<sup>$</sup></span><sub>/ Mon</sub></div>
                            <div class="duration">With 12 Months Annual Contract</div>
                            <ul class="spec-list">
                                <li>Business Analyzing</li>
                                <li>Operational Excellence</li>
                                <li>Knowledge Management</li>
                                <li>Generation Accounting</li>
                                <li>Digital Transformation</li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-style-four">Configure</a>
                        </div>
                    </div>
                </div>
                
                <!--Pricing Column-->
                <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="plan-title">Popular</div>
                        <div class="lower-content">
                            <div class="price-header"><span class="price">85<sup>$</sup></span><sub>/ Mon</sub></div>
                            <div class="duration">With 12 Months Annual Contract</div>
                            <ul class="spec-list">
                                <li>Business Analyzing</li>
                                <li>Operational Excellence</li>
                                <li>Knowledge Management</li>
                                <li>Generation Accounting</li>
                                <li>Digital Transformation</li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-style-four">Configure</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Pricing Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>{% trans 'Provide Solutions For the Realiable Growth' %}</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">{% trans 'Get A Quotes' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->
    {% endblock content %}