
{% extends "base.html" %}
{% load static %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>Service Detail</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>Service Detail</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Service Detail Section -->
    <div class="service-detail-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side order-last col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <!-- Image Box -->
                        <div class="image-box"><img src="{% static 'images/resource/service-detail.jpg' %}" alt=""></div>

                        <div class="lower-content">
                            <h2>Saving Strategy</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                            <p>Some estate planning needs are unique to many business owners, and an accounting firm helps identify these. By looking at the big picture of a business and its key owners, the accounting firm is able to help develop the right mix of business entity creation and family trust establishment. Firms will work with estate planning attorneys, financial planners and insurance agents to implement long-term strategies for business transfers and to mitigate estate taxes.</p>

                            <div class="two-column">
                                <div class="row clearfix">
                                    <div class="info-column col-lg-6 col-md-12 col-sm-12">
                                        <h3>Strategy And Operations</h3>
                                        <p>Many business owners are great at providing the product or service that is the backbone of the business. But business owners aren't always experts at the financial aspects of running a business. Accounting firms can assist with this. Copies of business bank accounts can be sent to accounting firms that work with bookkeepers to maintain accurate cash flow records.</p>
                                    </div>

                                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                        <div class="image"><a href="{% static 'images/resource/image-6.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/image-6.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="key-features">
                            <h3>Our Key Feature of Service</h3>
                            <ul class="accordion-box style-two">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Client Prospecting <div class="icon la la-plus-circle"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Investment Goals <div class="icon la la-plus-circle"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                                        </div>
                                    </div>
                                </li>
                                
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Document Verification <div class="icon la la-plus-circle"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!--Product Info Tabs-->
                            <div class="service-info-tabs">
                                <!--Product Tabs-->
                                <div class="service-tabs tabs-box">
                                
                                    <!--Tab Btns-->
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li data-tab="#info-1" class="tab-btn">Benefits</li>
                                        <li data-tab="#info-2" class="tab-btn active-btn">Mutual Funds</li>
                                        <li data-tab="#info-3" class="tab-btn">Company Growht</li>
                                    </ul>

                                    <!--Tabs Container-->
                                    <div class="tabs-content">
                                        

                                        <!--Tab-->
                                        <div class="tab" id="info-1">
                                            <div class="content">
                                                <figure class="thumb"><img src="{% static 'images/resource/thumb-2.jpg' %}" alt=""></figure>
                                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. It erative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                                            </div>
                                        </div>
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab active-tab" id="info-2">
                                            <div class="content">
                                                <figure class="thumb"><img src="{% static 'images/resource/thumb-2.jpg' %}" alt=""></figure>
                                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. It erative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                                            </div>
                                        </div>

                                        <!--Tab-->
                                        <div class="tab" id="info-3">
                                            <div class="content">
                                                <figure class="thumb"><img src="{% static 'images/resource/thumb-2.jpg' %}" alt=""></figure>
                                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. It erative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Service Detail -->
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar services-sidebar">

                        <!-- Services Cat List -->
                        <div class="sidebar-widget categories">
                            <ul class="services--list">
                                <li><a href="services.html">Services</a></li>
                                <li><a href="financial-planning.html">Financial Planning</a></li>
                                <li><a href="trade-and-stock.html">Trade & Stock</a></li>
                                <li><a href="audit-and-assurance.html">Audit & Assurance</a></li>
                                <li class="active"><a href="saving-strategy.html">Saving Strategy</a></li>
                                <li><a href="Strategic-planning.html">Strategic Planning</a></li>
                                <li><a href="service-detail.html">Products Consulting</a></li>
                            </ul>
                        </div>

                        <!-- Brochure -->
                        <div class="sidebar-widget brochure">
                            <div class="brochure-box">
                                <span>Download Our 2017</span>
                                <h4>Financial Brochure</h4>
                                <p>From Here.</p>
                                <a href="saving-strategy.html#" class="theme-btn btn-style-two">Download</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Detail Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>Provide Solutions For the Realiable Growth</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">Get A Quotes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

{% endblock content %}