
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>{% trans 'Services' %}</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}">{% trans 'Home' %} </a></li>
                <li>{% trans 'Services' %}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

     <!-- Services Section -->
    <section class="services-section style-two">
        <div class="auto-container">

            <div class="row clearfix">
                <!-- Service Block -->
                {% for i in servic %}
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="background-image: url({{i.photo.url}});">
                        <div class="content-box">
                            <span class="icon flaticon-{{ i.icon }}"></span>
                            <h3><a href="{% url 'service_detail' servic_id=i.id %}">{{ i.title }}</a></h3>
                            <div class="text">{{ i.summary }}</div>
                            <div class="link-box"><a href="{% url 'service_detail' servic_id=i.id %}">{% trans 'Read More' %} <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Service Block -->
                <!-- <div class="service-block col-lg-4 col-md-6 col-sm-12">   pie-chart-1
                    <div class="inner-box" style="background-image: url(/static/images/resource/service-2.jpg);">
                        <div class="content-box">
                            <span class="icon flaticon-piggy-bank"></span>
                            <h3><a href="service-detail.html">Saving Strategy</a></h3>
                            <div class="text">We possess within us two minds. So far I have written only of the conscious mind. I would now like to..</div>
                            <div class="link-box"><a href="service-detail.html">Read More <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div> -->

                <!-- Service Block -->
                <!-- <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="background-image: url(/static/images/resource/service-3.jpg);">
                        <div class="content-box">
                            <span class="icon flaticon-stock"></span>
                            <h3><a href="service-detail.html">Trade & stock</a></h3>
                            <div class="text">We possess within us two minds. So far I have written only of the conscious mind. I would now like to..</div>
                            <div class="link-box"><a href="service-detail.html">Read More <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div> -->

                <!-- Service Block -->
                <!-- <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="background-image: url(/static/images/resource/service-4.jpg);">
                        <div class="content-box">
                            <span class="icon flaticon-manager-1"></span>
                            <h3><a href="service-detail.html">Strategic Planning</a></h3>
                            <div class="text">We possess within us two minds. So far I have written only of the conscious mind. I would now like to..</div>
                            <div class="link-box"><a href="service-detail.html">Read More <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div> -->

                <!-- Service Block -->
                <!-- <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="background-image: url(/static/images/resource/service-5.jpg);">
                        <div class="content-box">
                            <span class="icon flaticon-tools"></span>
                            <h3><a href="service-detail.html">Audit & Assurance</a></h3>
                            <div class="text">We possess within us two minds. So far I have written only of the conscious mind. I would now like to..</div>
                            <div class="link-box"><a href="service-detail.html">Read More <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div> -->

                <!-- Service Block -->
                <!-- <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box" style="background-image: url(/static/images/resource/service-6.jpg);">
                        <div class="content-box">
                            <span class="icon flaticon-partnership"></span>
                            <h3><a href="service-detail.html">Financial Planning</a></h3>
                            <div class="text">We possess within us two minds. So far I have written only of the conscious mind. I would now like to..</div>
                            <div class="link-box"><a href="service-detail.html">Read More <i class="la la-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- Services Section -->
    <section class="services-section-two" style="background-image: url(/static/images/background/5.jpg);">
        <div class="auto-container">
            <div class="sec-title light text-center">
                <span class="title">{% trans 'Our Services' %}</span>
                <h2>{% trans 'What We Provide' %}</h2>
            </div>

            <div class="row clearfix">
                <!-- Service BLock Two -->
                {% for i in card %}
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-{{ i.icon }}"></span></div>
                        <h3><a href="{% url 'services' %}">{{ i.title }}</a></h3>
                        <div class="text">{{ i.body }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!--Clients Section-->
    <section class="clients-section">
        <div class="auto-container">
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    {% for i in advert %}
                    <li class="slide-item"><figure class="image-box"><a href="https://{{i.link}}"><img src="{{ i.photo.url }}" alt=""></a></figure></li>
                    {% endfor %}
                    <!-- <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="index-3.html#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></figure></li> -->
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section-->

{% endblock content %}