
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}


     <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="auto-container">
            <h1>Our Team</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}">Home </a></li>
                <li>Team</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Team Section -->
    <section class="team-page-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Our Team</span>
                <h2>Operations Directors</h2>
            </div>

            <div class="row clearfix">
                <!-- Team Block -->
                {% for i in ourteam %}
                <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-1.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{{ i.image.url }}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="https://t.me/{{i.facebook_link}}"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="https://t.me/{{i.instagram_link}}"><i class="la la-instagram"></i></a></li>
                                <li><a href="mailto:{{i.email}}"><i class="la la-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">{{ i.name }}</a></h4>
                            <span class="designation">{{ i.job }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-2.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-2.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Monika Joni</a></h4>
                            <span class="designation">Finance Manager</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-3.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-3.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Robinal Rector</a></h4>
                            <span class="designation">Marketing Manager</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-4.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-4.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Katrina Gone</a></h4>
                            <span class="designation">CEO Management</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-5.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-5.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Robick Rona</a></h4>
                            <span class="designation">Creative Director</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-6.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-6.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Botania Joni</a></h4>
                            <span class="designation">Finance Manager</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-7.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-7.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">David Gade</a></h4>
                            <span class="designation">Marketing Manager</span>
                        </div>
                    </div>
                </div> -->

                <!-- Team Block -->
                <!-- <div class="team-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="{% static 'images/resource/team-8.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/team-8.jpg' %}" alt=""></a></div>
                            <ul class="social-links">
                                <li><a href="team.html#"><i class="la la-facebook-official"></i></a></li>
                                <li><a href="team.html#"><i class="la la-twitter"></i></a></li>
                                <li><a href="team.html#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="team.html#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="team.html#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="team.html">Adam Bert</a></h4>
                            <span class="designation">CEO Management</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!--End Team Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two alternate">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="title-column">
                    <h3>Provide Solutions For the Realiable Growth</h3>
                </div>

                <div class="btn-column">
                    <div class="btn-box">
                        <a href="contact.html" class="theme-btn btn-style-one">Get A Quotes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->
{% endblock content %}